@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');


* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 0, 0.841);
}

p {
    color: rgba(255, 255, 0, 0.841);
    font-family: Chakra Petch, sans-serif, helvetica;
    letter-spacing: 5px;
    text-align: center;
}

/*header*/
#logo {
    font-family: Chakra Petch, sans-serif, helvetica;
    font-size: 323%;
    letter-spacing: 5px;
    color: rgba(224, 51, 236, 255);
    text-align: center;
}

#menu li {
    float: right;
    margin-right: 20px;
    color: rgba(224, 51, 236, 255);
    font-family: Chakra Petch, sans-serif, helvetica;
    display: inline;
    text-decoration: none;
}

header {
    background-color: rgb(55, 1, 79);
    margin-bottom: 0.5rem;
}

.header-link {
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

#n-bar {
    display: flex;
    list-style: none;
}

#n-bar li {
    display: flex;
}

/*body*/
body {
    background-image: url(../images/background.jpg);
    max-width: 100%;
    max-height: 100%;
}


/*footer*/
#social li {
    display: inline;
    font-size: 185%;
    margin: 15px;
}

footer {
    background-color: rgb(55, 1, 79);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0.5rem;
}

#footerUl {
    padding-left: 0px;
    display: flex;
    justify-content: center;
}

/*---------------------------------------------------home page style------------------------------------------------*/
#homepage-box {
    width: 90%;
    height: 500px;
    max-width: 500px;
    background-color: rgba(101, 15, 139, 0.8);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#homepage-box button {
    width: fit-content;
    height: 60px;
    background-color: rgba(81, 0, 255, 0.69);
    color: yellow;
    font-family: Chakra Petch, sans-serif, helvetica;
    letter-spacing: 5px;
}

/*------------------------------------------------------instructions page--------------------------------------------------*/

#instructions {
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------------audio files-------------------------------------------------------*/
.audio {
    display: flex;
    justify-content: center;
    color: rgba(81, 0, 255, 0.69);
}

/*--------------------------------------------------Second Game - Rock paper scissors game2 ----------------------------*/
#rock {
    width: 100px;
    height: 100px;
    background-image: url(../images/rock2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#paper {
    width: 100px;
    height: 100px;
    background-image: url(../images/paper2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#scissors {
    width: 100px;
    height: 100px;
    background-image: url(../images/scissors2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#result {
    background-color: rgba(81, 0, 255, 0.69);
    color: yellow;
    font-family: Chakra Petch, sans-serif, helvetica;
    letter-spacing: 5px;
    margin-top: 60px;
}

.computer-vs-player {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#computerMove {
    width: 100px;
    height: 100px;
}

#playerMove {
    width: 100px;
    height: 100px;
}

.playground-b {
    border: 2px black solid;
    background-image: url(../images/background2.jpg);
    background-size: contain;
    height: 500px;
    max-width: 500px;
}

.move {
    background-color: rgba(81, 0, 255, 0.69);
    color: yellow;
    font-family: Chakra Petch, sans-serif, helvetica;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.game2-button p {
    display: flex;
}

.container {
    max-width: 500px;
}

/*media query*/

@media screen and (max-width: 1200px) {

    .main-style {
        max-width: 100%;
        max-height: 100%;
    }
}

/*for medium screen sizes - from 950px wide and down*/

@media screen and (max-width: 950px) {

    .main-style {
        max-width: 100%;
        max-height: 100%;
    }
}

/*for small screen sizes - from 450px wide and down*/

@media screen and (max-width: 450px) {

    .main-style {
        max-width: 100%;
        max-height: 100%;
        min-width: 20%;
        min-height: 20%;
    }
}