*{
    padding: 0;
    margin: 0;
}

#dd-player {
    width: 30px;
    height: 50px;
    background-color: pink;
    position: relative;
    top: 450px;
    left: 10px;
}

#dd-obstacle {
    width: 25px;
    height: 25px;
    background-color: aqua;
    position: relative;
    top: 425px;
    left: 475px;
}

.playground {
    width: 500px;
    height: 500px;
    border: 2px black solid;
    background-color: rgb(93, 93, 227);
}
