*{
    padding: 0;
    margin: 0;
}

#dd-player {
    width: 30px;
    height: 50px;
    background-color: pink;
    position: relative;
    top: 450px;
    left: 10px;
}

#dd-obstacle {
    width: 25px;
    height: 25px;
    background-color: aqua;
    position: relative;
    top: 425px;
    left: 475px;
    animation: speeding 1s infinite;
}

@keyframes speeding {
    0% {background-color:yellow; left:475px; top:425px;}
    25% {background-color:greenyellow; left:357px; top:425px;}
    50% {background-color: green; left:239px; top:425px;}
    75% {background-color:lightblue; left: 121px; top:425px;}
    100% {background-color: purple; left:0px; top:425px;}
    
}

.playground {
    width: 500px;
    height: 500px;
    border: 2px black solid;
    background-color: rgb(93, 93, 227);
}
